@charset "UTF-8";
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #ffe4c4;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-width: 100vw;
  padding-bottom: 17rem;
}

#slider {
  width: 100%;
  min-height: 100vh !important;
  min-height: calc(var(--vh, 1vh) * 100) !important;
  overflow: hidden;
  z-index: -1;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

/* アニメーションをつけるクラス */
.fade {
  opacity: 0;
}

/* アニメーション用のクラス */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header {
  width: 100%;
  height: 5rem;
  background-color: #663300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  /*ナビゲーションのためのCSS
    アクティブになったエリア*/
}

header a {
  text-decoration: none;
}

header a h1 {
  font-family: "Kaisei Tokumin", serif;
  color: #fff;
  padding-left: 2rem;
  z-index: 9999;
}

header .menu-button {
  position: fixed;
  top: 0;
  right: 2rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: .5rem;
  z-index: 9999;
}

@media (min-width: 769px) {
  header .menu-button {
    display: none;
  }
}

header .menu-button span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 1.4rem;
  height: .2rem;
  background-color: #fff;
  border-radius: .5rem;
  width: 45%;
}

header .menu-button span:nth-of-type(1) {
  top: 1.3rem;
}

header .menu-button span:nth-of-type(2) {
  top: 1.9rem;
}

header .menu-button span:nth-of-type(3) {
  top: 2.5rem;
}

header .menu-button span:nth-of-type(3)::after {
  content: "Menu";
  position: absolute;
  top: 1rem;
  left: -.45rem;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}

header .menu-button.active span:nth-of-type(1) {
  top: 1.4rem;
  left: 1.8rem;
  -webkit-transform: translateY(0.6rem) rotate(-45deg);
          transform: translateY(0.6rem) rotate(-45deg);
  width: 40%;
}

header .menu-button.active span:nth-of-type(2) {
  opacity: 0;
}

header .menu-button.active span:nth-of-type(3) {
  top: 2.6rem;
  left: 1.8rem;
  -webkit-transform: translateY(-0.6rem) rotate(45deg);
          transform: translateY(-0.6rem) rotate(45deg);
  width: 40%;
}

header .menu-button.active span:nth-of-type(3)::after {
  content: "close";
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  top: 1rem;
  left: .5rem;
}

@media (min-width: 769px) {
  header #g-nav {
    display: none;
  }
}

header #g-nav.panelactive {
  /*position:fixed;にし
        z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
}

header #g-nav.panelactive #g-nav-list {
  display: block;
}

@media (min-width: 769px) {
  header #g-nav.panelactive #g-nav-list {
    display: none;
  }
}

header #g-nav.panelactive ul {
  opacity: 1;
}

header #g-nav.panelactive ul li {
  -webkit-animation: gnaviAnime 1s .2s forwards;
          animation: gnaviAnime 1s .2s forwards;
  opacity: 0;
}

header #g-nav-list {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

header #g-nav ul {
  opacity: 0;
  position: absolute;
  z-index: 999;
  top: 20%;
  width: 100%;
  padding: 0;
  text-align: center;
  -webkit-transition: all .6s;
  transition: all .6s;
}

header #g-nav ul li {
  padding-bottom: 5rem;
  font-size: 2rem;
}

header #g-nav ul li a {
  color: #fff;
  text-decoration: none;
}

header .circle-bg {
  position: fixed;
  z-index: 3;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #663300;
  -webkit-transform: scale(0);
          transform: scale(0);
  top: -50%;
  left: calc(50% - 5rem);
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .circle-bg.circleactive {
  -webkit-transform: scale(50);
          transform: scale(50);
  -webkit-transition: all 2s;
  transition: all 2s;
}

header #pc-nav {
  display: none;
}

@media (min-width: 769px) {
  header #pc-nav {
    display: block;
  }
  header #pc-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #pc-nav .nav-list li {
    padding-right: 2rem;
    list-style: none;
  }
  header #pc-nav .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: .5rem;
  }
  header #pc-nav .nav-list li a:not(.active)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: .2rem;
    background-color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  header #pc-nav .nav-list li a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

header .nav-list li a.active {
  border-bottom: 0.3rem solid #fff;
}

@-webkit-keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding-top: 5rem;
  background-color: #ffe4c4;
}

@media (min-width: 796px) {
  .container {
    padding-top: 10rem;
  }
}

.container h2 {
  font-family: "Kaisei Tokumin", serif;
  text-align: center;
}

@media (min-width: 769px) {
  .container h2 {
    font-size: 2.5rem;
  }
}

.container .sub-container {
  padding-top: 3rem;
}

@media (min-width: 769px) {
  .container .sub-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 5rem 5rem;
  }
}

.container .sub-container .photo {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .container .sub-container .photo {
    width: 50%;
    height: 50%;
    padding-right: 3rem;
  }
}

.container .sub-container .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .sub-container .photo .filter {
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
}

.container .sub-container .text {
  width: 30rem;
  margin: 2rem auto 0;
  height: auto;
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  position: relative;
}

@media (min-width: 769px) {
  .container .sub-container .text {
    height: 20rem;
    width: 40%;
  }
}

.container .sub-container .text p {
  padding: 2rem;
  font-size: 1.2rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #663300;
          text-decoration-color: #663300;
  line-height: 2rem;
}

@media (min-width: 769px) {
  .container .sub-container .text p {
    font-size: 1.4rem;
  }
}

.container .sub-container .text a {
  padding: 1rem;
  border-radius: 3rem;
  background-color: #663300;
  color: #fff;
  display: block;
  text-align: center;
  width: 10rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #000;
          box-shadow: 0.3rem 0.3rem 0.3rem #000;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 769px) {
  .container .sub-container .text a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
  }
}

footer {
  margin-top: 5rem;
  background-color: #663300;
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: -5rem;
  z-index: -1;
}

footer h1 {
  padding: 2rem 0 2rem 2rem;
}

footer .information {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

footer small {
  text-align: center;
  display: block;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.sub-page {
  padding-top: 5rem;
}

.sub-page .sub-page-photo {
  width: 100%;
  height: 30rem;
}

@media (min-width: 769px) {
  .sub-page .sub-page-photo {
    height: calc(100vh - 5rem);
  }
}

.sub-page .sub-page-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-page h2 {
  font-family: "Kaisei Tokumin", serif;
  text-align: center;
  padding-top: 5rem;
}

@media (min-width: 769px) {
  .sub-page h2 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
  }
}

.sub-page .sub-page-container {
  background-color: #ffe4c4;
}

@media (min-width: 769px) {
  .sub-page .sub-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 5rem;
  }
}

.sub-page .sub-page-container .container-photo {
  padding-top: 3rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .sub-page .sub-page-container .container-photo {
    width: 45%;
    height: auto;
    padding: 0 3rem 15rem 0;
  }
}

.sub-page .sub-page-container .container-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sub-page .sub-page-container .container-photo .blur {
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
}

.sub-page .sub-page-container .sub-page-text {
  width: 30rem;
  margin: 0 auto;
  height: auto;
  background-color: #fff;
  border-radius: .5rem;
}

@media (min-width: 769px) {
  .sub-page .sub-page-container .sub-page-text {
    width: 30%;
    margin-bottom: 5rem;
  }
}

.sub-page .sub-page-container .sub-page-text p {
  padding: 2rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #663300;
          text-decoration-color: #663300;
  line-height: 2rem;
}

@media (min-width: 769px) {
  .sub-page .sub-page-container .sub-page-text p {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */