// footerのスタイル
.footer {
    margin-top: 5rem;
    background-color: $chairo;
    color: $white;
    width: 100%;
    position: absolute;
    bottom: -5rem;
    z-index: -1;
    &__heading {
        padding: 2rem 0 2rem 2rem;
    }
    &__information {
        padding-bottom: 1rem;
        text-align: center;
        font-size: 1.2rem;
        &__text {
            padding-bottom: 1rem;
        }
    }
    &__copy {
        text-align: center;
        display: block;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }
}